<div class="well row message-<%=message.id%>">
  <!-- Show triangle if message has some childrens -->
  <% if message.children.size > 0%>
      <div class="triangle-show pull-left"></div>
      <div class="triangle-hide pull-left"></div>
  <%end%>
  <div class="col-xs-2 col-md-1">
    <%=image_tag avatar_get(message.user), class:'default-avatar'  %>
  </div>
  <div class="col-xs-10 col-md-11  message">
    <span class="text-muted"><strong><%= message.user.name %></strong> on
      <%= l(message.created_at, format: '%B, %d %Y %H:%M:%S') %>
    </span>
      <p><%= message.content %></p>
  </div>
  <div class="pull-left">
    <% if signed_in? %>
    <%= link_to 'Reply', new_message_path(parent_id: message.id), remote: true, class:'reply_link' %>
    <%end%>
    <% if message.user == current_user %>
        <%= link_to 'Edit', edit_message_path(message), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class:'edit_link'} %>
    <%end%>
  </div>
  <!-- Displayed when user click on 'Reply' link-->
  <div class="col-sm-12">
    <div class="row reply_form">
    </div>
  </div>
</div>