<div class="row">
  <%=render ('cassette_player') %>
</div>
<div class="col-sm-8 col-sm-offset-2">
  <% unless current_user.nil?%>
      <%=render('form')%>
  <%else%>
      <%=render('login_link')%>
  <%end%>

  <div id="flash">
    <%=render ('shared/flash_alert')%>
  </div>
  <div id="messages">
    <%=render @messages%>
  </div>
</div>

