<div class="row">
  <%=render ('cassette_player') %>
</div>
<div class="col-sm-8 col-sm-offset-2">
  <% if signed_in?%>
    <div class="row">
      <h3>What do you think?
        <span class="pull-right">
          <%= button_to 'Logout', sign_out_path, method: "delete", class: 'btn fa fa-sign-out btn btn-success'%>
        </span>
      </h3>
      <%=render('form')%>
    </div>
  <%else%>
    <%=render('login_link')%>
  <%end%>

  <div id="messages">
    <%= render 'messages' %> <!-- We need to split messages_tree_for method in partial because of AJAX rendering when user add new Reply message-->
  </div>
</div>

<%=render 'modal_window'%>

<div class="scroll_up">
  <a href="#">Scroll Up</a>
</div>